nav {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  color: #00aa99;
  font-variant: small-caps;
}

.page-subtitle {
  background-color: #00aa99 !important;
  color: white !important;
}

.btn-primary {
  background-color: #ffd533 !important;
  border-color: #ffd533 !important;
  color:black !important;
}

.btn-danger{
  background-color: #cc2b33 !important;
  border-color: #cc2b33 !important;
}
