{% extends "layout.html" %}

{% block title %}Analyse spéciale des liaisons{% endblock %}

{% block pageTitle %}Analyse spéciale des liaisons{% endblock %}

{% block pageSubtitle %}
Cette page permet d'extraire toutes les liaisons facultatives de fichiers _VD_LEX.eaf, de les afficher sous forme d'un concordancier, et d'extraire ces liasons sous la forme d'un fichier.csv
{% endblock %}

{% block content %}
      <form action="/runanalyseliai" method="post" enctype="multipart/form-data">
          <input type="file" name="a_liai_file" size="50" multiple required/>
          <br>
          <input class="mt-2 btn btn-primary" type="submit" value="Lancer analyse des fichiers" />
      </form>

      <hr/>

      {% if dictio != "" %}
        <form action="/runaffichageliai" method="post">
          <label for="mot1">mot1</label>
          <select name="mot1" id="mot1">
          <option value="pas_mot1"> --------- </option>
          {%for mot1 in mots1%}
            <option value="{{mot1}}"> {{mot1}} </option>

          {% endfor %}
          </select>
          <label for="mot2">mot2</label>
          <select name="mot2" id="mot2">
          <option value="pas_mot2"> --------- </option>
          {%for mot2 in mots2%}
            <option value="{{mot2}}"> {{mot2}} </option>
          {% endfor %}
          </select>
          <br>
          <input type="radio" name="lf_type" value="tout" id="tout" checked>
          <label for="tout">Pas de filtration</label><br/>
          <input type="radio" name="lf_type" value="[LF1]" id="lf1">
          <label for="lf1">LF1 seulement</label><br/>
          <input type="radio" name="lf_type" value="[LF3]" id="lf3">
          <label for="lf3">LF3 seulement</label><br/>
          <input class="mt-2 btn btn-primary" type="submit" value="Lancer affichage concordancier"/>
        </form>
      {% endif %}

      {%if dictio!=""%}
        {% if mot1choisi!="" or mot2choisi!="" %}

          <table>
            <tr>
              <th>Fichier concerné</th>
              <th>Type de liaison</th>
              <th>Contexte gauche</th>
              <th>Liaison</th>
              <th>Contexte droite</th>
            </tr>
          {% for key in dictio.keys() %}
            {% if mot1choisi==key[0] or mot1choisi=="" %}
              {% if mot2choisi==key[1] or mot2choisi=="" %}
                {% if lf_type=="tout" or lf_type==dictio[key][4] %}
                  <tr>
                    <td>{{dictio[key][2]}}</td>
                    <td>{{dictio[key][4]}}</td>
                    <td>{{dictio[key][3]}}</td>
                    <td><b>{{key[0]}} {{key[1]}}</b></td>
                    <td>{{dictio[key][5]}}</td>
                  </tr>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
          </table>
          <br>
          <p> Extraction avec ce(s) mot(s):</p>
          {%if mot1choisi!=""%}
            <p> Mot 1: {{mot1choisi}} </p>
          {% endif %}
          {%if mot2choisi!=""%}
            <p> Mot 2: {{mot2choisi}} </p>
          {% endif %}
          <form action="/extractliai" method="post">
            <input type="radio" name="org_regr" value="org" id="org">
            <label for="pas_reg">Sortie organisée sans regroupements</label><br/>
            <input type="radio" name="org_regr" value="reg" id="reg">
            <label for="reg">Sortie organisée avec regroupements (choisir ci-dessous)</label><br/>
            <input type="checkbox" id="reg_a" name="type_reg" value="reg_a">
            <label for="reg_a">Regroupement contextuel </label><br/>
            <input type="checkbox" id="reg_c" name="type_reg" value="reg_c">
            <label for="reg_c">Regroupement par sexe de l'interlocuteur </label><br/>
            <input type="hidden" id="mot1analyse" name="mot1analyse" value="{{mot1choisi}}"/>
            <input type="hidden" id="mot2analyse" name="mot2analyse" value="{{mot2choisi}}"/>
            <input class="mt-2 btn btn-primary" type="submit" value="Lancer extraction des liaisons"/>
          </form>
        {% endif %}
      {% endif %}

      <form action="/effacerliai" method="post">
          <input class="mt-2 btn btn-danger" type="submit" value="Effacer sauvegarde des résultats" />
      </form>
{% endblock %}
