{% extends "layout.html" %}

{% block title %}Téléchargement{% endblock %}

{% block pageTitle %}Téléchargement{% endblock %}

{% block flashmessage %}
{% endblock %}

{% block pageSubtitle %}
Cette page permet de télécharger tous les fichiers de résultat qui ont été créés
{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
                {% if message[0]!="$" and message != "./Telechargements/.gitkeep" %}
                  <p>
                    <a class="btn btn-primary" href="{{ url_for('static', filename=message) }}" download>
                      Télécharger
                    </a>
                    {{ message[1:].split("/")[-1] }}
                  </p>
                {% else %}
                {% endif %}
          {% endfor %}
      {% endif %}
  {% endwith %}
  <form action="/effacertele" method="post">
      <input class="btn btn-danger" type="submit" value="Effacer fichiers téléchargement" />
  </form>
{% endblock %}
