{% extends "layout.html" %}

{% block title %}Analyse organisée{% endblock %}

{% block pageTitle %}Analyse organisée{% endblock %}

{% block pageSubtitle %}
Cette page permet de lancer le processus d'analyse organisée sur des fichiers _VC.eaf ou _VD.eaf pour obtenir des fichiers .csv
{% endblock %}

{% block content %}
  <form action="/runorg" method="post" enctype="multipart/form-data">
      <input type="file" name="org_file" size="50" multiple required/>

      <br>
      {% with convert_key={"Enonces":"enonces","Tu":"tu","I-dans-il":"I-dans-il","Il-complet":"il-complet","Schwa":"schwa","Rl":"rl","Onomatopées":"@o","Mots étrangers":"@s","Mots enfantins":"@c","Catégories grammaticales":"catégories-grammaticales","Liaisons fausses":"liaison-fausse","Oui/Ouais":"oui-ouais","Non/Nan":"non-nan","On/Nous":"on-nous","Négations":"neg","Négations(Seulement négations en pas)":"neg-pas","Tokens":"tokens","Types":"types","Ratio types/tokens":"rtt","Longueur moyenne énoncés":"lme","Temps de parole par contexte":"temps","Liaisons facultatives (Le fichier d'entrée doit être un fichier VD_LEXC.eaf)":"lf"} %}
          {% for key in convert_key.keys()%}
              <input type="checkbox" id="{{ key }}" name="choix_variable" value={{ convert_key[key] }}>
              <label for="{{ key }}">{{ key }}</label><br>
          {% endfor %}
      {% endwith %}
      <br/><br/>
      <input type="radio" name="org_regr" value="pas_reg" id="pas_reg" checked>
      <label for="pas_reg">Pas de regroupement</label><br/>
      <input type="radio" name="org_regr" value="reg" id="reg">
      <label for="reg">Ajout de regroupements (choisir ci-dessous)</label><br/>
      <input type="checkbox" id="reg_a" name="type_reg" value="reg_a">
      <label for="reg_a">Regroupement contextuel </label><br/>
      <input type="checkbox" id="reg_b" name="type_reg" value="reg_b">
      <label for="reg_b">Regroupement variable (Schwa et RL seulement) </label><br/>
      <input type="checkbox" id="reg_c" name="type_reg" value="reg_c">
      <label for="reg_c">Regroupement par sexe de l'interlocuteur </label><br/>
      <br>
      <p>Limites pour l'analyse LME (la limite par mots fonctionne aussi pour l'analyse RTT)</p>
      <input type="radio" name="limit" value="no_limit" id="no_limit" checked>
      <label for="no_limit">Pas de limite</label><br/>
      <input type="radio" name="limit" value="limit_eno" id="limit_eno">
      <label for="limit_eno">Limite par enoncés</label><br/>
      <input type="radio" name="limit" value="limit_tok" id="limit_tok">
      <label for="limit_tok">Limite par nombre de mots</label><br/>
      <input type="radio" name="limit" value="limit_tps" id="limit_tps">
      <label for="limit_tps">Limite par temps de parole</label><br/>
      <input type="number" name="limit_value" id="limit_value" min="1">
      <label for="limit_value">Entrer la valeur de la limite ici</label><br/>
      <input class="mt-2 btn btn-primary" type="submit" value="Lancer" />
  </form>
{% endblock %}
