{% extends "layout.html" %}

{% block title %}Analyse brute{% endblock %}

{% block pageTitle %}Analyse brute{% endblock %}

{% block pageSubtitle %}
Cette page permet de lancer le processus d'analyse brute sur des fichiers _VC.eaf ou _VD.eaf pour obtenir des fichiers .csv
{% endblock %}

{% block content %}
    <form action="/runbrut" method="post" enctype="multipart/form-data">
        <input type="file" name="brut_file" size="50" multiple required/>

        <br>
        {% with convert_key={"Enonces":"enonces","Tu":"tu","I-dans-il":"I-dans-il","Il-complet":"il-complet","Schwa":"schwa","Rl":"rl","Onomatopées":"@o","Mots étrangers":"@s","Mots enfantins":"@c","Catégories grammaticales":"catégories_grammaticales","Liaisons fausses":"liaison-fausse","Oui/Ouais":"oui-ouais","Non/Nan":"non-nan","On/Nous":"on-nous","Négations":"neg","Négations(Seulement négations en pas)":"neg-pas","Liaisons facultatives (Le fichier d'entrée doit être un fichier VD_LEXC.eaf)":"lf"} %}
            {% for key in convert_key.keys()%}
                <input type="checkbox" id="{{ key }}" name="choix_variable" value={{ convert_key[key] }}>
                <label for="{{ key }}">{{ key }}</label><br>
            {% endfor %}
        {% endwith %}

        <input class="mt-2 btn btn-primary" type="submit" value="Lancer" />
    </form>
{% endblock %}
